name: main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Lint and Test
    runs-on: ubuntu-latest-small
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --all-extras --dev

      - name: Run coverage
        run: make coverage
